{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boya</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/gauge.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>
    <p>Pruebas</p>
    {% if temp|length > 0 %}
    {{ temp|floatformat:3 }} °C
    {% endif %}
    <figure class="highcharts-figure">
        <div id="container-speed" class="chart-container"></div>
        <div id="container-rpm" class="chart-container"></div>
        <p class="highcharts-description">
            Chart demonstrating solid gauges with dynamic data. Two separate charts
            are used, and each is updated dynamically every few seconds. Solid
            gauges are popular charts for dashboards, as they visualize a number
            in a range at a glance. As demonstrated by these charts, the color of
            the gauge can change depending on the value of the data shown.
        </p>
    </figure>
</body>